.co-m-heading {
    text-align: center;
    font-family: 'Ubuntu';
}

.container {
    margin-top: 50px !important;
}

.co-p-amazon {
    border-bottom: 1px solid #EC2F85;
    width: 100%;
}

.co-payment-grid {
    margin-top: 52px;
    border-left: 6px solid #eceff1;
    border-right: 6px solid #eceff1;
}

.co-table-head {
    border-color: #777777 !important;
}

.co-table-head th {
    font-size: 12px !important;
}

.co-item-img {
    height: 50px;
}

.co-table {
    margin-top: 36px;
    border-bottom: 1px solid grey;
}

.card-title {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #444444;
}

.card-title~p {
    font-size: 12px !important;
}

.bold {
    font-weight: bold;
}

.bill-items p {
    display: inline !important;
}

.co-details {
    display: flex;
    align-content: center;
    line-height: 1;
    margin-bottom: -15px;
}

.co-details-value {
    width: 40%;
    font-weight: bold;
    color: #767676;
    text-align: right;
    padding-left: 6px;
}

.co-details-title {
    width: 60%;
    color: #767676;
    text-align: left;
}

.co-total-detail {
    margin-top: 24px;
    padding: 4px;
    border-top: 1px solid grey
}

.small {
    color: #EC2F85 !important;
}

.co-invoice-box {
    margin-top: 8px !important;
}

.co-right-margin-colored {}

.co-back {
    color: #EC2F85 !important;
}

.co-radio-label {
    font-size: 12px;
}

.medium {
    color: #EC2F85;
}

.co-button {
    padding: 2px !important;
    width: auto !important;
    width: 100% !important;
    -webkit-box-shadow: 0px 6px 0px #d44512;
    -moz-box-shadow: 0px 6px 0px #d44512;
    box-shadow: 0px 6px 0px #d44512;
}

.co-coupon-bar {
    border-bottom: 1px solid #eceff1;
}

.co-icon-c {
    display: flex;
    align-items: stretch;
    font-style: italic;
    font-size: 12px;
}

.ak-field-text {
    height: 30px !important;
}

.ak-field-number {
    height: 30px !important;
}

.co-icon-c .tiny {
    color: #ef7246 !important;
}

.co-submit-btn {
    width: 100% !important;
}

.co-disc {
    font-size: 10px !important;
}

.current-address{
    border: 2px solid #C0C0C0 !important;
    border-radius:6px !important;
}
.pay-btn{
    padding:8px !important;
    border-radius:5px !important;
    margin-right: 0px !important;
}

.cash-collect{
    border: 1.5px solid #DCDCDC;
    border-radius: 5px;
}

.cash-collect p{
    padding-left:35px !important; 
}

.marg-btm{
    margin-bottom: 24px !important;
}

label{
    color: black !important;
    
}

.ak-text-mod{
    background: white !important;
    border:none !important;
    border-bottom: none!important;
}
.ak-text-mod:hover{
    background: none!important;
}

h6{
    color:#767676 !important;
    font-family: 'Roboto' !important;   
}

.add-address{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .add-address{
        min-height: 277.5px !important;
    }
}

@media only screen and (min-width: 1201px) and (max-width:1234px) {
    .add-address{
        min-height: 288px !important;
    }
}