/*
    This file contains css related to 
    index.html, signup.html, login.html
*/


/*
    Shared 
    Code taken from https://codepen.io/davidelrizzo/pen/vEYvyv
*/

.sp-lgi-login-btn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 14px;
    color: #FFF;
}

.sp-lgi-login-btn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.sp-lgi-login-btn:focus {
    outline: none;
}

.sp-lgi-login-btn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */

.sp-lgi-login-btn--facebook {
    background-color: #4C69BA;
    text-shadow: 0 -1px 0 #354C8C;
}

.sp-lgi-login-btn--facebook:before {
    background: url('/assets/icon_facebook.png') 6px 6px no-repeat;
}

.sp-lgi-login-btn--facebook:hover,
.sp-lgi-login-btn--facebook:focus {
    background-color: #5B7BD5;
}


/* Google */

.sp-lgi-login-btn--google {
    background: #DD4B39;
}

.sp-lgi-login-btn--google:before {
    background: url('/assets/icon_google.png') 6px 6px no-repeat;
}

.sp-lgi-login-btn--google:hover,
.sp-lgi-login-btn--google:focus {
    background: rgb(228, 84, 65);
}


/*
    Code by  Daniyal 
*/

.sp-wrapper {
    margin-top: -64px;
    width: 100vw;
    min-height: 100vh;
    background-image: url('/assets/img/bgn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sp-lgi-content-container {
    display: flex;
}

.sp-lgi-card-container {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 48px;
}

.sp-lgi-card {
    padding: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sp-lgi-form-div {
    margin-top: 36px;
}

.error-div {
    padding: 6px;
}

.error-text {
    margin: 6px;
    text-align: center;
}

.lgi-fp-a {
    display: block;
}

.sp-btn {
    padding: 16px !important;
    width: 108px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width:992px) {
    .sp-wrapper {
        margin-top: 0px;
    }
}